@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap");

html {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 2rem;
}

nav.main-menu {
  position: sticky;
  top: 0;
  width: 100vw;
  margin-left: -2rem;
  padding: 0 1rem;
  background: #fff;
  z-index: 100;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

nav.main-menu a {
  display: inline-block;
  padding: 1rem;
}

.guest-houses-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.guest-house-card {
  width: calc(33% - 2.67rem);
  padding: 1rem;
}

.guest-house-card img {
  width: 100%;
}

.button {
  border: none;
  border-radius: 0.75rem;
  padding: 0.8rem 1.4rem;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  filter: contrast(1.5);
}

.button-primary {
  background-color: #65007f;
}

@media all and (max-width: 1023px) {
  .guest-house-card {
    width: calc(50% - 3rem);
  }
}

@media all and (max-width: 767px) {
  .guest-house-card {
    width: calc(100% - 2rem);
  }
}
