:root {
  --size-xxs: 0.25rem;
  --size-xs: 0.5rem;
  --size-sm: 0.75rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 2rem;
  --size-xxl: 3rem;
  --size-xxxl: 4rem;

  /* Negative sizes */
  --size-negative-xxs: -0.25rem;
  --size-negative-xs: -0.5rem;
  --size-negative-sm: -0.75rem;
  --size-negative-md: -1rem;
  --size-negative-lg: -1.25rem;
  --size-negative-xl: -2rem;
  --size-negative-xxl: -3rem;
  --size-negative-xxxl: -4rem;
}